# Salesforce OAuth 2.0 Client Credentials
SALESFORCE_CLIENT_ID=your_salesforce_client_id_here
SALESFORCE_CLIENT_SECRET=your_salesforce_client_secret_here
SALESFORCE_INSTANCE_URL=https://YOUR_INSTANCE.my.salesforce.com
